<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >


<!-- <beans default-init-method="myInit" default-destroy-method="cleanUp"> -->
<beans>
    <!-- <bean id="triangle" class="springDemo.Triangle">
    这是用bean本身去对setter进行定义，利用property进行injection
        <property name="type" value="Equilateral" />
        八种primitive type
        boolean	 8	 true, false （只有兩個）
        char	 16	 '\u0000'～'\uffff' （Unicode 字集）
        byte	 8	 整數：-128～127
        short	 16	 整數：-32768～32767
        int	     32	 整數：-2147483648～2147483647
        long	 64	 -9223372036854775808～9223372036854775807
        float    32	 ±1.4E-45～±3.4028235E+38
        double	 64	 ±4.9E-324～±1.79769313486231570E+308
        
        利用type来赋值
        <constructor-arg type="java.lang.String" value="等边的" />
        <constructor-arg type="int" value="20" />
        
        
        利用index来赋值
        <constructor-arg index="0" value="等边" />
        <constructor-arg index="1" value="20" />
    </bean>
    <bean id="circle" class="springDemo.Circle" /> -->
    
    
<!--     <bean id="parentTriangle" class="springDemo.Triangle" abstract="true">
        <property name="pointA" ref="pointA" />
        define as many point as you can to inheritance from this parentTriangle
    </bean> -->
    
    
    <bean id="triangle" class="springDemo.Triangle"  >
       <!-- <property name="points">
           <list>
               <ref bean="pointA" />
               <ref bean="pointB" />
               <ref bean="pointC" />
           </list>
       </property> -->
       <property name="pointA" ref="pointA" />
       <property name="pointB" ref="pointB" />
       <property name="pointC" ref="pointC" />
    </bean>
    
   <!--  <bean id="triangle2" class="springDemo.Triangle" parent="triangle1">
        <property name="pointB" ref="pointB" />
    </bean> -->
    
    <bean id="pointA" class="springDemo.Point">
        <property name="x" value="${pointA.pointX}" />
        <property name="y" value="${pointA.pointY}" />
    </bean>
    <bean id="pointB" class="springDemo.Point">
                <property name="x" value="20" />
                <property name="y" value="0" />
     </bean>
     <bean id="pointC" class="springDemo.Point">
                <property name="x" value="-20" />
                <property name="y" value="0" />
     </bean>
    <bean class="springDemo.MyBeanFactoryPP" />
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="pointsconfig.properties" />
    </bean>
    
    <bean id="circle" class="springDemo.Circle" >
 
       <property name="center" ref="pointA" />
       
    </bean>
    
    
    <bean class="springDemo.DisplayNameBeanPostProcessor" />
</beans>